<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        body {
            height: 100%;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
            text-align:center;
            text-justify:inter-ideograph;
        }
        .form-signin {
            width: 100%;
            max-width: 650px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin . {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 14px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
    </style>
    <script>
        function check() {
            if($("#password2").val()!=$("#password").val()){
                $("#password2").attr("class","form-control is-invalid");
                $("#btnLogin").attr("disabled",true);
            }else{
                $("#password2").attr("class","form-control is-valid");
                $("#btnLogin").attr("disabled",false);
            }
        }

        function checkUser() {
            $.ajax({
                type: "post",
                url: "/user/CheckUsername",
                data: {
                    username: $("#username").val()
                },
                dataType: "text",
                success: function (data) {
                    if(data=="valid"){
                        $("#username").attr("class","form-control is-valid")
                        $("#btnLogin").attr("disabled",false);
                    }else {
                        $("#username").attr("class","form-control is-invalid")
                        $("#btnLogin").attr("disabled",true);
                    }
                }
            });
        }
    </script>
</head>
<body class="text-center">
<form action="/user/SignUp" method="post" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal " style="font-size: 35px"><large>Please Sign Up</large></h1>
    <div class="card">
        <div class="card-body">
            <div class="list-group">
                <div class="text-left">
                    <div id="div1">
                        <div class="form-group row">
                            <label for="username" class="col-2  col-form-label">用&nbsp户&nbsp名<span style="color:red">*</span></label>
                            <div class="col-10">
                                <input type="text" onchange="checkUser()" id="username" name="username" class="form-control" placeholder="用户名"
                                       required
                                       autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="username" class="col-2  col-form-label">性&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp别<span style="color:red">*</span></label>
                            <div class="col-10">
                                <select name="sex" id="sex" class="form-control" required>
                                    <option value="male" selected>男</option>
                                    <option value="female">女</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="birthday" class="col-2  col-form-label">出生日期<span style="color:red">*</span></label>
                            <div class="col-10">
                                <input type="date" id="birthday" name="birthday" class="form-control"
                                       required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-2  col-form-label">密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码<span style="color:red">*</span></label>
                            <div class="col-10">
                                <input type="password" id="password" name="password" class="form-control" placeholder="请输入密码"
                                       required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-2  col-form-label">确认密码<span style="color:red">*</span></label>
                            <div class="col-10">
                                <input type="password" onchange="check()" id="password2" name="password2" class="form-control" placeholder="请再次输入密码"
                                       required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="phonenum" class="col-2  col-form-label">联系方式<span style="color:red">*</span></label>
                            <div class="col-10">
                                <input type="text" id="phonenum" name="phonenum" class="form-control" placeholder="请输入联系方式"
                                       required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="address" class="col-2  col-form-label">家庭住址</label>
                            <div class="col-10">
                                <input type="text" id="address" name="address" class="form-control" placeholder="请输入家庭住址">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="referrer" class="col-2  col-form-label">推&nbsp荐&nbsp人</label>
                            <div class="col-10">
                                <input type="text" id="referrer" name="referrer" class="form-control" placeholder="请输入推荐人">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="industry" class="col-2  col-form-label">行业分会<span style="color:red">*</span></label>
                            <div class="col-10">
                                <select name="industry" id="industry" class="form-control" required>
                                    <option value="group1">行业分会1</option>
                                    <option value="group2">行业分会2</option>
                                    <option value="group3">行业分会3</option>
                                    <option value="group4">行业分会4</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="committee" class="col-2  col-form-label">专&nbsp委&nbsp会<span style="color:red">*</span></label>
                            <div class="col-10">
                                <select name="committee" id="committee" class="form-control" required>
                                    <option value="g1">专委会1</option>
                                    <option value="g2">专委会2</option>
                                    <option value="g3">专委会3</option>
                                    <option value="g4">专委会4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-left"><a>备注：申请内容下拉选择想要的行业分会和专委会。</a></div>
    <a role="button" class="btn btn-danger-outline float-left mr-8" href="/user/Login" style="color: black" >👈返回</a>
    <input type="reset" class="btn btn-danger-outline mr-8"  value="清空👆">

    <!-- Button trigger modal -->
    <button id="btnLogin" type="submit" class="btn btn-danger-outline float-right" data-toggle="modal" data-target="#exampleModalCenter">
        提交👉
    </button>



</form>
</body>
</html>